

<div *ngIf="(fileQueueList.length > 0)">
<div mat-subheader>Files to upload</div>
<mat-nav-list>
  <mat-list-item *ngFor="let file of fileQueueList">
    <div mat-line> 
      <i [className]="'fa ' + file.icon "></i>  
      {{file.name}} - {{file.prettySize}} | {{ file.progress}} %
      <mat-spinner [diameter]="20" mode="determinate" [value]="file.progress"></mat-spinner>
     </div>
  </mat-list-item>
</mat-nav-list>
</div>



<mat-divider></mat-divider>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
  <td mat-cell *matCellDef="let element"> 
    <i [className]="'fa ' + element.icon "></i>
    <button mat-button (click)="openFile(element)" [contextMenu]="basicMenu" [contextMenuSubject]="element">{{element.name}}</button>
  </td>
</ng-container>

<ng-container matColumnDef="lastModifiedAt">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
  <td mat-cell *matCellDef="let element"> {{element.lastModifiedAt}} </td>
</ng-container>

<ng-container matColumnDef="prettySize">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> File size </th>
  <td mat-cell *matCellDef="let element"> {{element.prettySize}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<context-menu>
<div class="dropdown-menu">
<ng-template contextMenuItem (execute)="showMessage($event.item)">
<button mat-raised-button color="primary" >Settings</button>
<button mat-raised-button color="primary" >Settings</button>
<button mat-raised-button color="primary" >Settings</button>
</ng-template>

</div>

<!-- <div class="dropdown-menu">
<ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
Say hi!
</ng-template>
<ng-template contextMenuItem let-item (execute)="showMessage($event.item.name)">
Bye, {{item?.name}}
</ng-template>
</div> -->
</context-menu>